.jumbotron {
    padding: 1em;
}

.jumbotron-fluid {
    margin-bottom: 0px;
}

.title {
    color: gold !important;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}




.navbar {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 6px;
}

#navbarNav {
    padding-left: 25px;
}


.carousel-item {
    padding: 10%;
    background-color: goldenrod;
}